nav li{
display: inline;
text-decoration: none;
text-transform: uppercase;
font-size: 60px;
color: white;
background-color: blue;
}





body {
    margin: 0;
    padding: 0;
}

#sports {
    width: 100%;
}

h1 {
    text-align: center;
}

.contato {
    text-align: center;
}